
<div class="col-md-12 main-img">
    <h1 class="page-header text-center" id="headline">ABOUT</h1>
    <div class="col-md-6 box">
        <div class="">
            <p class="lead">
                About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh.
                About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh.
                About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh. About....about about abouttttt about! About! About about blahhh blahhh.
                
            </p>
        </div>
    </div>
</div>