
<div class="col-md-12 main-img">
    <h1 class="page-header text-center" id="headline">CONTACT</h1>
    <div class="col-md-6 box">
        <div class="well">
            <p class="lead">
                Phone: (555) 555-5555 <br>
                Email: example@email.com <br>
                
            </p>
        </div>
    </div>
    <div class="col-md-6 box">
        <h2>FORM</h2>
        <div class="box">
            
        </div>
    </div>
</div>