.navbar-inverse {
    // background-color: #383A3F;
    // border-color: #090909;
    height: 90px;
}

.navbar-brand {
    // padding-left: 80px;
}

.navbar {
    // border-radius: 0px;
    // position: relative;
    // min-height: 50px;
    margin-bottom: 50px;
    // border: 1px solid transparent;
    // font-family: 'Noto Sans', sans-serif;
}
#main-nav {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    // margin-bottom: 20px;
}
// .navbar-inverse .navbar-nav > li > a {
//     color: #ccc;
//     &:hover { color: #fff; }
// }
// .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
// //   background-color: #F68657;
//   background-color: #fff;
//   color: #000;
//   border-radius: 10px;
// }

// .dropdown-menu {
//     position: static;
//     float: none;
//     width: auto;
//     margin-top: 0;
//     background-color: white;
//     border: 0;
//     box-shadow: none;
// }
